/* .list-item {} */
.item {
    background: transparent;
}
.item.striked {
    text-decoration: line-through;
}
.close {
    display: none;
}
.item:hover .close {
    display: inline-block;
}
.edit-text {
    height: 25px;
    padding-left: 0.25rem;
}